@model IEnumerable<TransactionImporter.WebUI.Models.HomeModels>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Total Transactions Per Gateway:</h4>
        <p>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <b> @Html.DisplayFor(modelItem => item.Gateway):</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i>@Html.DisplayFor(modelItem => item.TransactionCount)</i><br />
                        </td>
                    </tr>
                }
            }
        </p>
    </div>
</div>